@use "../helpers/" as *;

.card {
  @include tablet-above {
    display: grid;
    grid-template-columns: 37.5% auto;
  }

  &__preview,
  &__body {
    padding: rem(80);

    @include laptop {
      padding: rem(60);
    }
  }

  &__preview {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include tablet-above {
      border-right: var(--border);
    }

    @include tablet {
      padding-right: 0;
      padding-block: rem(50);
      border-bottom: var(--border);
    }

    &-main {
      display: grid;
      row-gap: fluid(50, 24);
    }

    &-icon {
      width: fluid(80, 50);
    }

    &-info {
      display: grid;
      row-gap: fluid(16, 6);
    }
  }

  &__body {
    padding-right: 0;

    @include tablet {
      padding: rem(30) rem(16);
    }
  }

  &__grid {
    display: grid;

    &-2-cols {
      grid-template-columns: repeat(2, 1fr);
      gap: fluid(30, 10);

      @include mobile {
        grid-template-columns: 1fr;
      }
    }

    &--2-cols-alt {
      grid-template-columns: auto 1fr;
    }
  }

  &__cell {
    display: flex;
    flex-direction: column;
    align-content: start;
    row-gap: fluid(20, 4);

    &--wide {
      grid-column: -1 / 1;
      gap: rem(30) rem(20);

      @include laptop {
        gap: rem(30) rem(20);
      }
    }
  }
}
